[Desktop Entry]
Name = YouTube-Indicator
GenericName = YouTube-Indicator
Comment = An indicator to download videos from YouTube
Exec = /opt/extras.ubuntu.com/youtube-indicator/bin/youtube-indicator
Icon = /opt/extras.ubuntu.com/youtube-indicator/share/youtube-indicator/icons/youtube-indicator.svg
Type = Application
Terminal = false
StartupNotify = true
Encoding = UTF-8
Categories = Utility;
X-Ubuntu-Gettext-Domain = youtube-indicator
Name[es] = Indicador de YouTube
GenericName[es] = Indicador de YouTube
Comment[es] = An indicator to download videos from YouTube
